<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title style="text-align: center;">~ MENU ~</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list style="height: 100%;">
      <ion-item> <!-- RETOUR AU MENU -->
        <ion-icon name="home-outline" slot="start"></ion-icon>
        <ion-button (click)="gomenu()">HOME</ion-button>
      </ion-item>

      <ion-item> <!-- POUR ADMIN => Ajouter un compte ou modifier les comptes| POUR USER => Ajouter un compte ou modifier ses informations -->
        <ion-icon name="people-outline" slot="start"></ion-icon>
        <ion-button (click)="gocomptes()">COMPTES</ion-button>
      </ion-item>

      <ion-item> <!-- POUR ADMIN => modifier les produits -->
        <ion-icon name="prism-outline" slot="start"></ion-icon>
        <ion-button (click)="goproduits()" style="color: red;">PRODUITS</ion-button>
      </ion-item>

      <ion-item> <!-- POUR ADMIN ET USER => Voir le catalogue des produits mis a disposition -->
        <ion-icon name="grid-outline" slot="start"></ion-icon>
        <ion-button (click)="gocatalogue()">CATALOGUE</ion-button>
      </ion-item>

      <ion-item> <!-- POUR ADMIN => Voir toutes les commandes passé | POUR USER => Voir les anciennes commandes du clients -->
        <ion-icon name="folder-outline" slot="start"></ion-icon>
        <ion-button (click)="gocommandes()">COMMANDES</ion-button>
      </ion-item>

      <ion-item position="bottom"> <!-- DECONNEXION -->
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-button (click)="gologin()">LOGOUT</ion-button>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <div style="text-align: center; width: 100%;">
        <h1>PRODUITS</h1>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <br>
    <div class="menugrid">
      <div></div>
      
      <ion-button expand="block" color="light" style="height: 2vw;" (click)="gomenu()">HOME</ion-button>
      <ion-button expand="block" color="light" style="height: 2vw;" (click)="gocomptes()">COMPTES</ion-button>
      <ion-button *ngIf="hab == 2" expand="block" color="medium" style="height: 2vw;" (click)="goproduits()">PRODUITS</ion-button>
      <ion-button expand="block" color="light" style="height: 2vw;" (click)="gocatalogue()">CATALOGUE</ion-button>
      <ion-button expand="block" color="light" style="height: 2vw;" (click)="gocommandes()">COMMANDES</ion-button>
      <ion-button expand="block" color="light" style="height: 2vw;" (click)="gologin()">LOGOUT</ion-button>
  
      <div></div>
    </div>
    
    <div class="grid1">

      <div>
        <ion-card>
          <div>
            <ion-card-header>
              <ion-card-title>AJOUT</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button type="submit" expand="block" class="btform" (click)="produitcreation()">CREATION</ion-button>
            </ion-card-content>
          </div>
        </ion-card>  
      </div>

      <div>
        <ng-container *ngFor="let pr of produits; let index = index;">
          <ion-card *ngIf="index%3==0">
            <ion-slides style="width: 24vw;">
              <ng-container *ngFor="let ph of photos">
                <ion-slide *ngIf="ph.produit == pr.id_produit">
                  <img src="{{ph.lien_photo}}">
                </ion-slide>
              </ng-container>
            </ion-slides>
            <ion-card-header>
              <ion-card-title>{{pr.nom}} - {{pr.prix}}€</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Modèle : {{pr.modele}}<br>
              Marque : {{pr.marque}}<br>
              Description : {{pr.description}}<br>
              <ion-item>
                <ion-label>Achetable :</ion-label>
                <ion-toggle *ngIf="pr.achetable" (ionChange)="changeachetable(pr.id_produit,pr.achetable)" checked color="secondary"></ion-toggle>
                <ion-toggle *ngIf="!pr.achetable" (ionChange)="changeachetable(pr.id_produit,pr.achetable)" color="secondary"></ion-toggle>
              </ion-item>
              <br>
              <ion-button type="submit" expand="block" class="btform" (click)="produitmodification(pr.id_produit)">MODIFICATION PRODUIT</ion-button>
              <ion-button type="submit" expand="block" class="btform" (click)="photosmodification(pr.id_produit)">MODIFICATION PHOTOS</ion-button>
              <ion-button type="submit" expand="block" class="btform" (click)="produitsuppression(pr.id_produit, pr.nom)">SUPPRESSION</ion-button>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>
      
      <div>
        <ng-container *ngFor="let pr of produits; let index = index;">
          <ion-card *ngIf="index%3==1">
            <ion-slides style="width: 24vw;">
              <ng-container *ngFor="let ph of photos">
                <ion-slide *ngIf="ph.produit == pr.id_produit">
                  <img src="{{ph.lien_photo}}">
                </ion-slide>
              </ng-container>
            </ion-slides>
            <ion-card-header>
              <ion-card-title>{{pr.nom}} - {{pr.prix}}€</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Modèle : {{pr.modele}}<br>
              Marque : {{pr.marque}}<br>
              Description : {{pr.description}}<br>
              <ion-item>
                <ion-label>Achetable :</ion-label>
                <ion-toggle *ngIf="pr.achetable" (ionChange)="changeachetable(pr.id_produit,pr.achetable)" checked color="secondary"></ion-toggle>
                <ion-toggle *ngIf="!pr.achetable" (ionChange)="changeachetable(pr.id_produit,pr.achetable)" color="secondary"></ion-toggle>
              </ion-item>
              <br>
              <ion-button type="submit" expand="block" class="btform" (click)="produitmodification(pr.id_produit)">MODIFICATION PRODUIT</ion-button>
              <ion-button type="submit" expand="block" class="btform" (click)="photosmodification(pr.id_produit)">MODIFICATION PHOTOS</ion-button>
              <ion-button type="submit" expand="block" class="btform" (click)="produitsuppression(pr.id_produit, pr.nom)">SUPPRESSION</ion-button>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>

      <div>
        <ng-container *ngFor="let pr of produits; let index = index;">
          <ion-card *ngIf="index%3==2">
            <ion-slides style="width: 24vw;">
              <ng-container *ngFor="let ph of photos">
                <ion-slide *ngIf="ph.produit == pr.id_produit">
                  <img src="{{ph.lien_photo}}">
                </ion-slide>
              </ng-container>
            </ion-slides>
            <ion-card-header>
              <ion-card-title>{{pr.nom}} - {{pr.prix}}€</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Modèle : {{pr.modele}}<br>
              Marque : {{pr.marque}}<br>
              Description : {{pr.description}}<br>
              <ion-item>
                <ion-label>Achetable :</ion-label>
                <ion-toggle *ngIf="pr.achetable" (ionChange)="changeachetable(pr.id_produit,pr.achetable)" checked color="secondary"></ion-toggle>
                <ion-toggle *ngIf="!pr.achetable" (ionChange)="changeachetable(pr.id_produit,pr.achetable)" color="secondary"></ion-toggle>
              </ion-item>
              <br>
              <ion-button type="submit" expand="block" class="btform" (click)="produitmodification(pr.id_produit)">MODIFICATION PRODUIT</ion-button>
              <ion-button type="submit" expand="block" class="btform" (click)="photosmodification(pr.id_produit)">MODIFICATION PHOTOS</ion-button>
              <ion-button type="submit" expand="block" class="btform" (click)="produitsuppression(pr.id_produit, pr.nom)">SUPPRESSION</ion-button>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>

      <div> </div>

    </div>

    <div class="grid2">

      <div> </div>

      <div>
        <ion-card>
          <div>
            <ion-card-header>
              <ion-card-title>AJOUT</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-button type="submit" expand="block" class="btform" (click)="produitcreation()">CREATION</ion-button>
            </ion-card-content>
          </div>
        </ion-card>

        <ng-container *ngFor="let pr of produits; let index = index;">
          <ion-card>
            <ion-slides style="width: 50vw;">
              <ng-container *ngFor="let ph of photos">
                <ion-slide *ngIf="ph.produit == pr.id_produit">
                  <img src="{{ph.lien_photo}}">
                </ion-slide>
              </ng-container>
            </ion-slides>
            <ion-card-header>
              <ion-card-title>{{pr.nom}} - {{pr.prix}}€</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Modèle : {{pr.modele}}<br>
              Marque : {{pr.marque}}<br>
              Description : {{pr.description}}<br>
              <ion-item>
                <ion-label>Achetable :</ion-label>
                <ion-toggle *ngIf="pr.achetable" (ionChange)="changeachetable(pr.id_produit,pr.achetable)" checked color="secondary"></ion-toggle>
                <ion-toggle *ngIf="!pr.achetable" (ionChange)="changeachetable(pr.id_produit,pr.achetable)" color="secondary"></ion-toggle>
              </ion-item>
              <br>
              <ion-button type="submit" expand="block" class="btform" (click)="produitmodification(pr.id_produit)">MODIFICATION PRODUIT</ion-button>
              <br>
              <ion-button type="submit" expand="block" class="btform" (click)="photosmodification(pr.id_produit)">MODIFICATION PHOTOS</ion-button>
              <br>
              <ion-button type="submit" expand="block" class="btform" (click)="produitsuppression(pr.id_produit, pr.nom)">SUPPRESSION</ion-button>
            </ion-card-content>
          </ion-card>
        </ng-container>
      </div>
      
      <div> </div>

    </div>
  </ion-content>
</div>